<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our Blog Site</title>
</head>
<body>
     <h2>Welcome to our Blog Site</h2>
     <h3>A Cup of Java</h3>
     <button id="viewallblogs" onclick="location.href='/viewallblogs'">View All Blogs</button>
     <button id="createnewblog" onclick="location.href='/createnewblog'">Create New Blog</button>
     <button id="bulkuploadblog" onclick="location.href='/bulkuploadblog'">Bulk Upload Blog</button>

</body>
</html>